// Mixins Here

.customButton (@bgColor: black, @width: 200px, @fontColor: white) {
    display: block;
    background-color: @bgColor;
    margin: 0 5px 5px;
    cursor: pointer;
    width: @width;
    height: 30px;
    font-size: 2rem;
    border-radius: 5px;
    color: @fontColor;

    @media @phone {
        width: 90%;
        height: 50px;
        font-size: 2.5rem;
    }