// Navigation code here

nav {
    padding: 3%;
    margin: 0;
    text-align: center;
    @nav-font: @river-bend;
    background-color: @sea-shell;

    h1 {
        font-size: 50px;
        padding: 2%;
    }


    @media @phone {
        margin-left: 0;
    }

    // END @media @phone

    a {
        margin: 0;
        padding: 1%;
        font-size: 1.8rem;
        text-decoration: none;
        color: black;

        @media @phone {
            width: 100%;
            text-align: center;

        }

        &:hover {
            color: gray;
        }

        //END hover
    }

    // END a


}

//END OF nav

// }